@import "basic/_reset.css";
@import "basic/_vars.css";
@import "basic/_fonts.css";
@import "basic/_global.css";

@import "components/_header.css";
@import "components/_btn.css";

@import "home/_home.css";
@import "home/_schedule.css";
@import "home/_trainers.css";
@import "home/_season-tickets.css";
@import "home/_reviews.css";
@import "home/_video.css";
@import "home/_banner.css";
@import "home/_abonements.css";