@font-face {
    font-family: 'Inter 24pt';
    src: url('../../fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('../../fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../../fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('../../fonts/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Bold.woff2') format('woff2'),
        url('Inter24pt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-Light.woff2') format('woff2'),
        url('Inter24pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

