.home {
    background-image: url('../../images/shapka.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home * {
    position: relative;
    z-index: 50;
    text-align: center;
}

.home__btn {
    margin: 0 auto;
}

.home__video {
    color: white;
    text-align: center;
}

.video1 {
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;

}

.div4 {
    color: white;
    text-align: center;
}

.gap {
    color: white;
    text-align: center;
}

.card {
    object-fit: cover;
    object-position: center;
}

.home__kok {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    padding: 20px 32px 20px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    margin: 5px;
}

.schedule__inner {
    font-family: var(--font-family);
    color: #fff;
    background: url(../../images/kav.png);
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    border-radius: 20px;
    position: relative;
}


.schedule__title {
    font-size: 44px;
    font-weight: 500;
    position: relative;
}

.schedule__links {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}

.schedule__inner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.log{
    color: #fff;
    z-index: 15;
}

.home__kok:hover{
    background:rgb(146, 123, 96);
}