.home {
    background-image: url('../../images/shapka.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home * {
    position: relative;
    z-index: 50;
    text-align: center;
}

.home__btn {
    margin: 0 auto;
}

.home__video {
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.video1 {
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;

}

.div4 {
    color: white;
    text-align: center;
}

.gap {
    color: white;
    text-align: center;
}

.card {
    object-fit: cover;
    object-position: center;
}

.trainers__inner{
    color: white;
    text-align: center;
}

.sale__text{
    text-align: left;
}

.sale__text1{
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    padding: 20px 32px 20px 32px;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    margin: 5px; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50000px;
}

